In [124]:
# import the libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [125]:
# scrape for the polling data
polls_res = requests.get('https://en.wikipedia.org/wiki/Statewide_opinion_polling_for_the_2008_United_States_presidential_election')
polls_soup = BeautifulSoup(polls_res.content, 'lxml')

In [126]:
# create a list of dataframes
dfs = [pd.DataFrame() for i in range(len(polls_soup.find_all('table', {'class': 'wikitable collapsible collapsed'})))]
for i in range(len(polls_soup.find_all('table', {'class': 'wikitable collapsible collapsed'}))):
    dfs[i] = pd.read_html(str(polls_soup.find_all('table', {'class': 'wikitable collapsible collapsed'})[i]))[0]

In [127]:
# assign each dataframe(s) to each state
AL = pd.concat([dfs[0], dfs[1]], ignore_index = True)
AK = pd.concat([dfs[2], dfs[3]], ignore_index = True)
AZ = pd.concat([dfs[4], dfs[5]], ignore_index = True)
AR = pd.concat([dfs[6], dfs[7]], ignore_index = True)
CA = pd.concat([dfs[8], dfs[9]], ignore_index = True)
CO = pd.concat([dfs[10], dfs[11], dfs[12]], ignore_index = True)
CT = pd.concat([dfs[13], dfs[14]], ignore_index = True)
DE = dfs[15]
DC = dfs[16]
FL = pd.concat([dfs[17], dfs[18], dfs[19], dfs[20]], ignore_index = True)
GA = pd.concat([dfs[21], dfs[22], dfs[23]], ignore_index = True)
HI = dfs[24]
ID = pd.concat([dfs[25], dfs[26]], ignore_index = True)
IL = pd.concat([dfs[27], dfs[28]], ignore_index = True)
IN = pd.concat([dfs[29], dfs[30], dfs[31]], ignore_index = True)
IA = pd.concat([dfs[32], dfs[33]], ignore_index = True)
KS = dfs[34]
KY = pd.concat([dfs[35], dfs[36]], ignore_index = True)
LA = pd.concat([dfs[37], dfs[38]], ignore_index = True)
ME = pd.concat([dfs[39], dfs[40], dfs[41]], ignore_index = True)
MD = pd.concat([dfs[42], dfs[43]], ignore_index = True)
MA = pd.concat([dfs[44], dfs[45], dfs[46], dfs[47]], ignore_index = True)
MI = pd.concat([dfs[48], dfs[49], dfs[50], dfs[51]], ignore_index = True)
MN = pd.concat([dfs[52], dfs[53]], ignore_index = True)
MS = dfs[54]
MO = pd.concat([dfs[55], dfs[56], dfs[57], dfs[58]], ignore_index = True)
MT = pd.concat([dfs[59], dfs[60], dfs[61]], ignore_index = True)
NE = pd.concat([dfs[62], dfs[63]], ignore_index = True)
NV = pd.concat([dfs[64], dfs[65], dfs[66], dfs[67]], ignore_index = True)
NH = pd.concat([dfs[68], dfs[69], dfs[70]], ignore_index = True)
NJ = pd.concat([dfs[71], dfs[72]], ignore_index = True)
NM = pd.concat([dfs[73], dfs[74], dfs[75], dfs[76]], ignore_index = True)
NY = pd.concat([dfs[77], dfs[78]], ignore_index = True)
NC = pd.concat([dfs[79], dfs[80], dfs[81]], ignore_index = True)
ND = dfs[82]
OH = pd.concat([dfs[83], dfs[84], dfs[85], dfs[86], dfs[87]], ignore_index = True)
OK = pd.concat([dfs[88], dfs[89]], ignore_index = True)
OR = pd.concat([dfs[90], dfs[91], dfs[92]], ignore_index = True)
PA = pd.concat([dfs[93], dfs[94]], ignore_index = True)
RI = dfs[95]
SC = pd.concat([dfs[96], dfs[97], dfs[98]], ignore_index = True)
SD = dfs[99]
TN = pd.concat([dfs[100], dfs[101]], ignore_index = True)
TX = pd.concat([dfs[102][dfs[102]['Barack Obama'] != 'Not reported'], dfs[103], dfs[104]], ignore_index = True)
UT = pd.concat([dfs[105], dfs[106]], ignore_index = True)
VT = dfs[107]
VA = pd.concat([dfs[108], dfs[109], dfs[110], dfs[111]], ignore_index = True)
WA = pd.concat([dfs[112], dfs[113]], ignore_index = True)
WV = pd.concat([dfs[114], dfs[115]], ignore_index = True)
WI = pd.concat([dfs[116], dfs[117]], ignore_index = True)
WY = dfs[118]

In [128]:
# aggregate the dataframes into a list of dataframes in state order
dfs = [AL, AK, AZ, AR, CA, CO, CT, DE, DC, FL, GA, HI, ID, IL, IN, IA, KS, KY, LA, ME, MD, MA, MI, MN, MS, MO, MT, NE, NV, NH, NJ, NM, NY, NC, ND, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VT, VA, WA, WV, WI, WY]

In [129]:
# find the state abbreviations
state_res = requests.get('https://www.ssa.gov/international/coc-docs/states.html')
state_soup = BeautifulSoup(state_res.content, 'lxml')
state_html = state_soup.find(text = 'Two-Letter State Abbreviations').find_next('table')
state = pd.DataFrame(pd.read_html(str(state_html))[0])
state.drop(state[state[0].isin(['AMERICAN SAMOA', 'GUAM', 'NORTHERN MARIANA IS', 'PUERTO RICO', 'VIRGIN ISLANDS'])].index, inplace = True)
state = state.reset_index(drop = True)[1]
state

0     AL
1     AK
2     AZ
3     AR
4     CA
5     CO
6     CT
7     DE
8     DC
9     FL
10    GA
11    HI
12    ID
13    IL
14    IN
15    IA
16    KS
17    KY
18    LA
19    ME
20    MD
21    MA
22    MI
23    MN
24    MS
25    MO
26    MT
27    NE
28    NV
29    NH
30    NJ
31    NM
32    NY
33    NC
34    ND
35    OH
36    OK
37    OR
38    PA
39    RI
40    SC
41    SD
42    TN
43    TX
44    UT
45    VT
46    VA
47    WA
48    WV
49    WI
50    WY
Name: 1, dtype: object

In [130]:
# filter the dataframe to only include the state, month, year, democratic percentage, republican percentage, party winner, margin
polls_all = pd.DataFrame()
for i in range(len(dfs)):
    dfs[i]['state'] = [state[i]] * len(dfs[i])
    month = []
    year = []
    for j in dfs[i]['Date administered (2008)']:
        if '–' in j:
            if any(j.split('–')[1][0] in x for x in [str(x) for x in list(range(10))]):
                month.append(j.split('–')[0][0:3])
            else:
                month.append(j.split('–')[1][0:3])
        if '–' not in j:
            month.append(j.split(' ')[0][0:3])
        if '2007' in j:
            year.append(int(j.split(' ')[-1].split('[')[0]))
        if '2007' not in j:
            year.append(int(2008))
    dfs[i]['month'] = month
    dfs[i]['year'] = year
    dem_percentage = []
    for j in dfs[i]['Barack Obama']:
        dem_percentage.append(float(str(j).split('%')[0]))
    dfs[i]['dem_percentage'] = dem_percentage
    gop_percentage = []
    for j in dfs[i]['John McCain']:
        gop_percentage.append(float(str(j).split('%')[0]))
    dfs[i]['gop_percentage'] = gop_percentage
    winner = []
    margin = []
    for j in range(len(dfs[i])):
        if dfs[i]['dem_percentage'][j] > dfs[i]['gop_percentage'][j]:
            winner.append('D')
        if dfs[i]['dem_percentage'][j] < dfs[i]['gop_percentage'][j]:
            winner.append('R')
        if dfs[i]['dem_percentage'][j] == dfs[i]['gop_percentage'][j]:
            winner.append('E')
        margin.append(abs(dfs[i]['dem_percentage'][j] - dfs[i]['gop_percentage'][j]))
    dfs[i]['winner'] = winner
    dfs[i]['margin'] = margin
    polls_all = pd.concat([polls_all, dfs[i]], ignore_index = True)

In [131]:
polls_dr = polls_all[['state', 'month', 'year', 'dem_percentage', 'gop_percentage', 'winner', 'margin']]
polls_dr

     state month  year  dem_percentage  gop_percentage winner  margin
0       AL   Nov  2008            39.0            57.0      R    18.0
1       AL   Oct  2008            36.0            61.0      R    25.0
2       AL   Oct  2008            34.0            54.0      R    20.0
3       AL   Oct  2008            35.0            62.0      R    27.0
4       AL   Oct  2008            35.0            55.0      R    20.0
...    ...   ...   ...             ...             ...    ...     ...
1632    WY   Nov  2008            29.0            67.0      R    38.0
1633    WY   Oct  2008            37.0            58.0      R    21.0
1634    WY   Sep  2008            39.0            58.0      R    19.0
1635    WY   Aug  2008            25.0            62.0      R    37.0
1636    WY   Feb  2008            35.0            54.0      R    19.0

[1637 rows x 7 columns]

In [132]:
# filter the dataframe to only include nov 2019 to nov 2020
polls_oneyear = polls_dr[(polls_dr['year'] == 2008) | ((polls_dr['year'] == 2007) & polls_dr['month'].isin(['Nov', 'Dec']))].reset_index(drop = True)
polls_oneyear

     state month  year  dem_percentage  gop_percentage winner  margin
0       AL   Nov  2008            39.0            57.0      R    18.0
1       AL   Oct  2008            36.0            61.0      R    25.0
2       AL   Oct  2008            34.0            54.0      R    20.0
3       AL   Oct  2008            35.0            62.0      R    27.0
4       AL   Oct  2008            35.0            55.0      R    20.0
...    ...   ...   ...             ...             ...    ...     ...
1534    WY   Nov  2008            29.0            67.0      R    38.0
1535    WY   Oct  2008            37.0            58.0      R    21.0
1536    WY   Sep  2008            39.0            58.0      R    19.0
1537    WY   Aug  2008            25.0            62.0      R    37.0
1538    WY   Feb  2008            35.0            54.0      R    19.0

[1539 rows x 7 columns]

In [133]:
# negative represents democratic, positive represents republican
party_margin = []
for i in range(len(polls_oneyear)):
    if polls_oneyear['winner'][i] == 'D':
        party_margin.append(-polls_oneyear['margin'][i])
    if any(polls_oneyear['winner'][i] in x for x in ['E', 'R']):
        party_margin.append(polls_oneyear['margin'][i])
polls_party_margin = polls_oneyear
polls_party_margin['2008_polls_margin'] = party_margin
polls_party_margin

,state,month,year,dem_percentage,gop_percentage,winner,margin,2008_polls_margin
0,AL,Nov,2008,39.0,57.0,R,18.0,18.0
1,AL,Oct,2008,36.0,61.0,R,25.0,25.0
2,AL,Oct,2008,34.0,54.0,R,20.0,20.0
3,AL,Oct,2008,35.0,62.0,R,27.0,27.0
4,AL,Oct,2008,35.0,55.0,R,20.0,20.0
...,...,...,...,...,...,...,...,...
1534,WY,Nov,2008,29.0,67.0,R,38.0,38.0
1535,WY,Oct,2008,37.0,58.0,R,21.0,21.0
1536,WY,Sep,2008,39.0,58.0,R,19.0,19.0
1537,WY,Aug,2008,25.0,62.0,R,37.0,37.0
1538,WY,Feb,2008,35.0,54.0,R,19.0,19.0

In [134]:
# find the unweighted mean
polls_mean = polls_party_margin.groupby('state', sort = False)[['2008_polls_margin']].mean().reset_index(drop = False)
polls_mean

   state  2008_polls_margin
0     AL          21.203846
1     AK          11.850000
2     AZ          10.000000
3     AR          13.384615
4     CA         -15.078947
5     CO          -3.801563
6     CT         -16.000000
7     DE         -17.344444
8     DC         -67.500000
9     FL           0.745361
10    GA           7.941176
11    HI         -31.000000
12    ID          27.333333
13    IL         -18.708333
14    IN           2.651515
15    IA          -9.142424
16    KS          14.388889
17    KY          16.523810
18    LA          12.384615
19    ME         -14.252000
20    MD         -16.000000
21    MA         -12.347826
22    MI          -6.531481
23    MN          -7.964000
24    MS          10.800000
25    MO           1.939583
26    MT           4.300000
27    NE          13.000000
28    NV          -1.734091
29    NH          -5.809091
30    NJ         -10.264706
31    NM          -5.363158
32    NY         -15.435897
33    NC           0.926506
34    ND           2.666667
35    OH          -1.371154
36    OK          30.360000
37    OR          -9.514286
38    PA          -6.844828
39    RI         -19.300000
40    SC          10.476923
41    SD          10.333333
42    TN          16.533333
43    TX          10.065000
44    UT          28.000000
45    VT         -27.800000
46    VA          -2.234177
47    WA         -10.800000
48    WV           7.450000
49    WI          -7.223810
50    WY          26.800000

In [135]:
# export the dataframe to a csv file
polls_mean.to_csv('../../data/processed/2008_mean_polls.csv', index = False)