In [28]:
# import the libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [29]:
# scrape for the polling data
# sep 2012 - nov 2012
polls_res1 = requests.get('https://en.wikipedia.org/wiki/Statewide_opinion_polling_for_the_2012_United_States_presidential_election')
polls_soup1 = BeautifulSoup(polls_res1.content, 'lxml')
# jan 2012 - aug 2012
polls_res2 = requests.get('https://en.wikipedia.org/wiki/Early/Mid_2012_statewide_opinion_polling_for_the_2012_United_States_presidential_election')
polls_soup2 = BeautifulSoup(polls_res2.content, 'lxml')
# pre 2012
polls_res3 = requests.get('https://en.wikipedia.org/wiki/Pre-2012_statewide_opinion_polling_for_the_2012_United_States_presidential_election')
polls_soup3 = BeautifulSoup(polls_res3.content, 'lxml')

In [30]:
# sep 2012 - nov 2012
dfs1 = [pd.DataFrame() for i in range(len(polls_soup1.find_all('table', {'class': 'wikitable'})))]
for i in range(len(polls_soup1.find_all('table', {'class': 'wikitable'}))):
    dfs1[i] = pd.read_html(str(polls_soup1.find_all('table', {'class': 'wikitable'})[i]))[0]
# jan 2012 - aug 2012
dfs2 = [pd.DataFrame() for i in range(len(polls_soup2.find_all('table', {'class': 'wikitable'})))]
for i in range(len(polls_soup2.find_all('table', {'class': 'wikitable'}))):
    dfs2[i] = pd.read_html(str(polls_soup2.find_all('table', {'class': 'wikitable'})[i]))[0]
# pre 2012
dfs3 = [pd.DataFrame() for i in range(len(polls_soup3.find_all('table', {'class': 'wikitable'})))]
for i in range(len(polls_soup3.find_all('table', {'class': 'wikitable'}))):
    dfs3[i] = pd.read_html(str(polls_soup3.find_all('table', {'class': 'wikitable'})[i]))[0]

In [31]:
# assign each dataframe(s) to each state
AL = dfs2[0]
AK = pd.DataFrame()
AZ = pd.concat([dfs1[0], dfs2[1], dfs2[2], dfs3[0]], ignore_index = True)
AR = pd.concat([dfs1[1], dfs2[3], dfs3[1]], ignore_index = True)
CA = pd.concat([dfs1[2], dfs2[4], dfs3[2]], ignore_index = True)
CO = pd.concat([dfs1[3], dfs1[4], dfs2[5], dfs2[6], dfs3[3]], ignore_index = True)
CT = pd.concat([dfs1[5], dfs2[7], dfs3[4]], ignore_index = True)
DE = pd.DataFrame()
DC = dfs1[6]
FL = pd.concat([dfs1[7], dfs1[8], dfs2[8], dfs2[9], dfs3[5]], ignore_index = True)
GA = pd.concat([dfs1[9], dfs2[10], dfs3[6]], ignore_index = True)
HI = pd.concat([dfs1[10], dfs3[7]], ignore_index = True)
ID = dfs1[11]
IL = pd.concat([dfs1[12], dfs2[11], dfs3[8]], ignore_index = True)
IN = pd.concat([dfs1[13], dfs2[12]], ignore_index = True)
IA = pd.concat([dfs1[14], dfs2[13], dfs3[9]], ignore_index = True)
KS = dfs3[10]
KY = pd.concat([dfs1[15], dfs3[11]], ignore_index = True)
LA = pd.concat([dfs1[16], dfs3[12]], ignore_index = True)
ME = pd.concat([dfs1[17], dfs2[14], dfs3[13]], ignore_index = True)
MD = pd.concat([dfs1[18], dfs2[15]], ignore_index = True)
MA = pd.concat([dfs1[19], dfs2[16], dfs2[17], dfs3[14]], ignore_index = True)
MI = pd.concat([dfs1[20], dfs2[18], dfs3[15]], ignore_index = True)
MN = pd.concat([dfs1[21], dfs2[19], dfs3[16]], ignore_index = True)
MS = dfs3[17]
MO = pd.concat([dfs1[22], dfs2[20], dfs2[21], dfs3[18]], ignore_index = True)
MT = pd.concat([dfs1[23], dfs1[24], dfs2[22], dfs2[23], dfs3[19]], ignore_index = True)
NE = pd.concat([dfs1[25], dfs1[26], dfs2[24], dfs2[25], dfs3[20]], ignore_index = True)
NV = pd.concat([dfs1[27], dfs1[28], dfs2[26], dfs2[27], dfs3[21]], ignore_index = True)
NH = pd.concat([dfs1[29], dfs2[28], dfs2[29], dfs3[22]], ignore_index = True)
NJ = pd.concat([dfs1[30], dfs2[30], dfs3[23][dfs3[23]['%'].notnull()]], ignore_index = True)
NM = pd.concat([dfs1[31], dfs1[32], dfs2[31], dfs2[32], dfs3[24], dfs3[25]], ignore_index = True)
NY = pd.concat([dfs1[33], dfs2[33], dfs3[26]], ignore_index = True)
NC = pd.concat([dfs1[34], dfs2[34], dfs2[35], dfs3[27]], ignore_index = True)
ND = pd.concat([dfs1[35], dfs2[36]], ignore_index = True)
OH = pd.concat([dfs1[36], dfs1[37], dfs2[37], dfs3[28]], ignore_index = True)
OK = pd.concat([dfs1[38], dfs2[38]], ignore_index = True)
OR = pd.concat([dfs1[39], dfs2[39], dfs3[29]], ignore_index = True)
PA = pd.concat([dfs1[40], dfs1[41], dfs1[42], dfs2[40], dfs3[30]], ignore_index = True)
RI = pd.concat([dfs1[43], dfs3[31]], ignore_index = True)
SC = pd.concat([dfs2[41], dfs3[32]], ignore_index = True)
SD = pd.concat([dfs1[44], dfs2[42], dfs3[33]], ignore_index = True)
TN = pd.concat([dfs1[45], dfs2[43], dfs3[34], dfs3[35]], ignore_index = True)
TX = pd.concat([dfs1[46], dfs2[44], dfs2[45], dfs3[36]], ignore_index = True)
UT = pd.concat([dfs1[47], dfs2[46], dfs3[37]], ignore_index = True)
VT = pd.concat([dfs2[47], dfs3[38]], ignore_index = True)
VA = pd.concat([dfs1[48], dfs1[49], dfs1[50], dfs1[51], dfs2[48], dfs2[49], dfs3[39]], ignore_index = True)
WA = pd.concat([dfs1[52], dfs2[50], dfs3[40]], ignore_index = True)
WV = pd.concat([dfs2[51], dfs3[41]], ignore_index = True)
WI = pd.concat([dfs1[53], dfs1[54], dfs2[52], dfs2[53], dfs3[42]], ignore_index = True)
WY = pd.DataFrame()

In [32]:
# aggregate the dataframes into a list of dataframes in state order
# remove states without polls, i.e. AK, DE, WY
dfs = [AL, AZ, AR, CA, CO, CT, DC, FL, GA, HI, ID, IL, IN, IA, KS, KY, LA, ME, MD, MA, MI, MN, MS, MO, MT, NE, NV, NH, NJ, NM, NY, NC, ND, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VT, VA, WA, WV, WI]

In [33]:
# find the state abbreviations
state_res = requests.get('https://www.ssa.gov/international/coc-docs/states.html')
state_soup = BeautifulSoup(state_res.content, 'lxml')
state_html = state_soup.find(text = 'Two-Letter State Abbreviations').find_next('table')
state = pd.DataFrame(pd.read_html(str(state_html))[0])
state.drop(state[state[0].isin(['AMERICAN SAMOA', 'GUAM', 'NORTHERN MARIANA IS', 'PUERTO RICO', 'VIRGIN ISLANDS'])].index, inplace = True)
state = state.reset_index(drop = True)[1]
state

0     AL
1     AK
2     AZ
3     AR
4     CA
5     CO
6     CT
7     DE
8     DC
9     FL
10    GA
11    HI
12    ID
13    IL
14    IN
15    IA
16    KS
17    KY
18    LA
19    ME
20    MD
21    MA
22    MI
23    MN
24    MS
25    MO
26    MT
27    NE
28    NV
29    NH
30    NJ
31    NM
32    NY
33    NC
34    ND
35    OH
36    OK
37    OR
38    PA
39    RI
40    SC
41    SD
42    TN
43    TX
44    UT
45    VT
46    VA
47    WA
48    WV
49    WI
50    WY
Name: 1, dtype: object

In [34]:
# remove the states with no polls, i.e. AK, DE, WY
state_without_polls = state
state_without_polls.drop(state_without_polls[state_without_polls.isin(['AK', 'DE', 'WY'])].index, inplace = True)
state_without_polls = state_without_polls.reset_index(drop = True)
state_without_polls

0     AL
1     AZ
2     AR
3     CA
4     CO
5     CT
6     DC
7     FL
8     GA
9     HI
10    ID
11    IL
12    IN
13    IA
14    KS
15    KY
16    LA
17    ME
18    MD
19    MA
20    MI
21    MN
22    MS
23    MO
24    MT
25    NE
26    NV
27    NH
28    NJ
29    NM
30    NY
31    NC
32    ND
33    OH
34    OK
35    OR
36    PA
37    RI
38    SC
39    SD
40    TN
41    TX
42    UT
43    VT
44    VA
45    WA
46    WV
47    WI
Name: 1, dtype: object

In [35]:
# filter the dataframe to only include the state, month, year, democratic percentage, republican percentage, party winner, margin
polls_all = pd.DataFrame()
for i in range(len(dfs)):
    dfs[i]['state'] = [state_without_polls[i]] * len(dfs[i])
    month = []
    year = []
    for j in dfs[i]['Date administered']:
        if '–' in j:
            if j.split('–')[1][0] == ' ':
                month.append(j.split('–')[1][1:4])
            if j.split('–')[1][0] != ' ':
                month.append(j.split('–')[0][0:3])
        if '–' not in j:
            month.append(j.split(' ')[0][0:3])
        year.append(int(j.split(' ')[-1].split('[')[0]))
    dfs[i]['month'] = month
    dfs[i]['year'] = year
    dem_percentage = []
    for j in dfs[i]['%']:
        dem_percentage.append(float(str(j).split('%')[0]))
    dfs[i]['dem_percentage'] = dem_percentage
    gop_percentage = []
    for j in dfs[i]['%.1']:
        gop_percentage.append(float(str(j).split('%')[0]))
    dfs[i]['gop_percentage'] = gop_percentage
    winner = []
    margin = []
    for j in range(len(dfs[i])):
        if dfs[i]['dem_percentage'][j] > dfs[i]['gop_percentage'][j]:
            winner.append('D')
        if dfs[i]['dem_percentage'][j] < dfs[i]['gop_percentage'][j]:
            winner.append('R')
        if dfs[i]['dem_percentage'][j] == dfs[i]['gop_percentage'][j]:
            winner.append('E')
        margin.append(abs(dfs[i]['dem_percentage'][j] - dfs[i]['gop_percentage'][j]))
    dfs[i]['winner'] = winner
    dfs[i]['margin'] = margin
    polls_all = pd.concat([polls_all, dfs[i]], ignore_index = True)

In [36]:
polls_dr = polls_all[['state', 'month', 'year', 'dem_percentage', 'gop_percentage', 'winner', 'margin']]
polls_dr

     state month  year  dem_percentage  gop_percentage winner  margin
0       AL   Aug  2012            36.0            54.0      R    18.0
1       AL   Jun  2012            36.0            51.0      R    15.0
2       AZ   Nov  2012            46.0            53.0      R     7.0
3       AZ   Oct  2012            44.0            52.0      R     8.0
4       AZ   Oct  2012            44.0            52.0      R     8.0
...    ...   ...   ...             ...             ...    ...     ...
2062    WI   Dec  2010            52.0            38.0      D    14.0
2063    WI   Dec  2010            46.0            42.0      D     4.0
2064    WI   Oct  2010            47.0            42.0      D     5.0
2065    WI   Oct  2010            42.0            46.0      R     4.0
2066    WI   Oct  2010            45.0            41.0      D     4.0

[2067 rows x 7 columns]

In [37]:
# filter the dataframe to only include nov 2019 to nov 2020
polls_oneyear = polls_dr[(polls_dr['year'] == 2012) | ((polls_dr['year'] == 2011) & polls_dr['month'].isin(['Nov', 'Dec']))].reset_index(drop = True)
polls_oneyear

     state month  year  dem_percentage  gop_percentage winner  margin
0       AL   Aug  2012            36.0            54.0      R    18.0
1       AL   Jun  2012            36.0            51.0      R    15.0
2       AZ   Nov  2012            46.0            53.0      R     7.0
3       AZ   Oct  2012            44.0            52.0      R     8.0
4       AZ   Oct  2012            44.0            52.0      R     8.0
...    ...   ...   ...             ...             ...    ...     ...
1459    WI   Feb  2012            51.0            40.0      D    11.0
1460    WI   Feb  2012            56.0            33.0      D    23.0
1461    WI   Feb  2012            52.0            36.0      D    16.0
1462    WI   Jan  2012            48.0            40.0      D     8.0
1463    WI   May  2012            46.0            36.0      D    10.0

[1464 rows x 7 columns]

In [38]:
# negative represents democratic, positive represents republican
party_margin = []
for i in range(len(polls_oneyear)):
    if polls_oneyear['winner'][i] == 'D':
        party_margin.append(-polls_oneyear['margin'][i])
    if any(polls_oneyear['winner'][i] in x for x in ['E', 'R']):
        party_margin.append(polls_oneyear['margin'][i])
polls_party_margin = polls_oneyear
polls_party_margin['2012_polls_margin'] = party_margin
polls_party_margin

,state,month,year,dem_percentage,gop_percentage,winner,margin,2012_polls_margin
0,AL,Aug,2012,36.0,54.0,R,18.0,18.0
1,AL,Jun,2012,36.0,51.0,R,15.0,15.0
2,AZ,Nov,2012,46.0,53.0,R,7.0,7.0
3,AZ,Oct,2012,44.0,52.0,R,8.0,8.0
4,AZ,Oct,2012,44.0,52.0,R,8.0,8.0
...,...,...,...,...,...,...,...,...
1459,WI,Feb,2012,51.0,40.0,D,11.0,-11.0
1460,WI,Feb,2012,56.0,33.0,D,23.0,-23.0
1461,WI,Feb,2012,52.0,36.0,D,16.0,-16.0
1462,WI,Jan,2012,48.0,40.0,D,8.0,-8.0
1463,WI,May,2012,46.0,36.0,D,10.0,-10.0

In [39]:
# find the unweighted mean
polls_mean = polls_party_margin.groupby('state', sort = False)[['2012_polls_margin']].mean().reset_index(drop = False)
polls_mean

   state  2012_polls_margin
0     AL          16.500000
1     AZ           2.842105
2     AR          23.833333
3     CA         -21.305000
4     CO          -3.173134
5     CT         -12.736842
6     DC         -80.000000
7     FL          -1.915414
8     GA           8.288235
9     HI         -29.500000
10    ID          36.000000
11    IL         -19.375000
12    IN           9.916667
13    IA          -3.665909
14    KS          21.000000
15    KY          14.000000
16    LA          19.300000
17    ME         -15.315385
18    MD         -21.333333
19    MA         -21.196078
20    MI          -7.251385
21    MN         -10.666667
22    MS          15.833333
23    MO           5.199444
24    MT           7.130435
25    NE           8.562500
26    NV          -6.518750
27    NH          -5.491379
28    NJ         -15.384615
29    NM         -11.413514
30    NY         -27.933333
31    NC          -0.319737
32    ND          15.750000
33    OH          -4.204225
34    OK          30.000000
35    OR          -9.800000
36    PA          -6.765556
37    RI         -23.700000
38    SC          -2.750000
39    SD           9.400000
40    TN           2.727273
41    TX           9.600000
42    UT          47.250000
43    VT         -30.760000
44    VA          -3.908333
45    WA         -13.627273
46    WV          15.500000
47    WI          -6.756790

In [40]:
# export the dataframe to a csv file
polls_mean.to_csv('../../data/processed/2012_mean_polls.csv', index = False)