In [132]:
# import the libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [133]:
# scrape for the polling data
# aug 2016 - nov 2016
polls_res1 = requests.get('https://en.wikipedia.org/wiki/Statewide_opinion_polling_for_the_2016_United_States_presidential_election')
polls_soup1 = BeautifulSoup(polls_res1.content, 'lxml')
# jan 2016 - aug 2016
polls_res2 = requests.get('https://en.wikipedia.org/wiki/January%E2%80%93August_2016_statewide_opinion_polling_for_the_2016_United_States_presidential_election')
polls_soup2 = BeautifulSoup(polls_res2.content, 'lxml')
# pre 2016
polls_res3 = requests.get('https://en.wikipedia.org/wiki/Pre-2016_statewide_opinion_polling_for_the_2016_United_States_presidential_election')
polls_soup3 = BeautifulSoup(polls_res3.content, 'lxml')
# florida
polls_res_fl = requests.get('https://en.wikipedia.org/wiki/Opinion_polling_for_the_2016_United_States_presidential_election_in_Florida')
polls_soup_fl = BeautifulSoup(polls_res_fl.content, 'lxml')

In [134]:
# aug 2016 - nov 2016
dfs1 = [pd.DataFrame() for i in range(len(polls_soup1.find_all('table', {'class': 'wikitable'})))]
for i in range(len(polls_soup1.find_all('table', {'class': 'wikitable'}))):
    dfs1[i] = pd.read_html(str(polls_soup1.find_all('table', {'class': 'wikitable'})[i]))[0]
# jan 2016 - aug 2016
dfs2 = [pd.DataFrame() for i in range(len(polls_soup2.find_all('table', {'class': 'wikitable'})))]
for i in range(len(polls_soup2.find_all('table', {'class': 'wikitable'}))):
    dfs2[i] = pd.read_html(str(polls_soup2.find_all('table', {'class': 'wikitable'})[i]))[0]
# pre 2016
dfs3 = [pd.DataFrame() for i in range(len(polls_soup3.find_all('table', {'class': 'wikitable'})))]
for i in range(len(polls_soup3.find_all('table', {'class': 'wikitable'}))):
    dfs3[i] = pd.read_html(str(polls_soup3.find_all('table', {'class': 'wikitable'})[i]))[0]
# florida
dfs_fl = [pd.DataFrame() for i in range(len(polls_soup_fl.find_all('table', {'class': 'wikitable'})))]
for i in range(len(polls_soup_fl.find_all('table', {'class': 'wikitable'}))):
    dfs_fl[i] = pd.read_html(str(polls_soup_fl.find_all('table', {'class': 'wikitable'})[i]))[0]

In [135]:
# assign each dataframe(s) to each state
AL = pd.concat([dfs1[1], dfs2[0]], ignore_index = True)
AK = pd.concat([dfs1[2], dfs1[3], dfs2[1], dfs2[2], dfs3[0]], ignore_index = True)
AZ = pd.concat([dfs1[4], dfs1[5], dfs1[6], dfs2[3], dfs2[4], dfs3[1]], ignore_index = True)
AR = pd.concat([dfs1[7], dfs1[8], dfs2[5], dfs3[2]], ignore_index = True)
CA = pd.concat([dfs1[9], dfs1[10], dfs2[6], dfs2[7], dfs2[8], dfs3[3]], ignore_index = True)
CO = pd.concat([dfs1[11], dfs1[12], dfs1[13], dfs1[14], dfs2[9], dfs2[10], dfs3[4]], ignore_index = True)
CT = pd.concat([dfs1[15], dfs2[11], dfs2[12], dfs3[5]], ignore_index = True)
DE = pd.concat([dfs1[16], dfs2[13]], ignore_index = True)
DC = pd.DataFrame()
FL = pd.concat([i for i in dfs_fl], ignore_index = True)
GA = pd.concat([dfs1[17], dfs1[18], dfs1[19], dfs2[14], dfs2[15], dfs2[16], dfs3[6]], ignore_index = True)
HI = pd.DataFrame()
ID = pd.concat([dfs1[20], dfs2[17], dfs2[18], dfs3[7]], ignore_index = True)
IL = pd.concat([dfs1[21], dfs1[22], dfs2[19], dfs2[20], dfs2[21], dfs3[8]], ignore_index = True)
IN = pd.concat([dfs1[23], dfs1[24], dfs2[22], dfs2[23]], ignore_index = True)
IA = pd.concat([dfs1[25], dfs1[26], dfs1[27], dfs2[24], dfs2[25], dfs3[9], dfs3[10]], ignore_index = True)
KS = pd.concat([dfs1[28], dfs1[29], dfs2[26], dfs2[27], dfs2[28], dfs3[11]], ignore_index = True)
KY = pd.concat([dfs1[30], dfs1[31], dfs2[29], dfs2[30], dfs3[12]], ignore_index = True)
LA = pd.concat([dfs1[32], dfs1[33], dfs2[31], dfs3[13]], ignore_index = True)
ME = pd.concat([dfs1[34], dfs1[35], dfs2[32], dfs3[14]], ignore_index = True)
MD = pd.concat([dfs1[36], dfs2[33], dfs2[34], dfs3[15]], ignore_index = True)
MA = pd.concat([dfs1[37], dfs1[38], dfs2[35], dfs3[16]], ignore_index = True)
MI = pd.concat([dfs1[39], dfs1[40], dfs1[41], dfs2[36], dfs2[37], dfs2[38], dfs3[17]], ignore_index = True)
MN = pd.concat([dfs1[42], dfs1[43], dfs1[44], dfs2[39], dfs3[18], dfs3[19]], ignore_index = True)
MS = dfs3[20]
MO = pd.concat([dfs1[45], dfs1[46], dfs1[47], dfs2[40], dfs2[41], dfs2[42], dfs3[21], dfs3[22]], ignore_index = True)
MT = pd.concat([dfs1[48], dfs1[49], dfs3[23]], ignore_index = True)
NE = dfs1[50]
NV = pd.concat([dfs1[51], dfs1[52], dfs1[53], dfs1[54], dfs2[43], dfs2[44], dfs2[45], dfs2[46], dfs3[24]], ignore_index = True)
NH = pd.concat([dfs1[55], dfs1[56], dfs1[57], dfs2[47], dfs2[48], dfs2[49], dfs3[25], dfs3[26]], ignore_index = True)
NJ = pd.concat([dfs1[58], dfs1[59], dfs2[50], dfs2[51], dfs2[52], dfs3[27]], ignore_index = True)
NM = pd.concat([dfs1[60], dfs2[53], dfs2[54], dfs3[28]], ignore_index = True)
NY = pd.concat([dfs1[61], dfs1[62], dfs2[55], dfs2[56], dfs2[57], dfs3[29]], ignore_index = True)
NC = pd.concat([dfs1[63], dfs1[64], dfs1[65], dfs2[58], dfs2[59], dfs2[60], dfs3[30], dfs3[31]], ignore_index = True)
ND = dfs1[66]
OH = pd.concat([dfs1[67], dfs1[68], dfs1[69], dfs1[70], dfs2[61], dfs2[62], dfs2[63], dfs3[32], dfs3[33]], ignore_index = True)
OK = pd.concat([dfs1[71], dfs2[64]], ignore_index = True)
OR = pd.concat([dfs1[72], dfs2[65], dfs2[66], dfs3[34]], ignore_index = True)
PA = pd.concat([dfs1[73], dfs1[74], dfs1[75], dfs2[67], dfs2[68], dfs2[69], dfs3[35][dfs3[35]['%'] != '?%'], dfs3[36]], ignore_index = True)
RI = dfs1[76]
SC = pd.concat([dfs1[77], dfs1[78], dfs2[70], dfs2[71], dfs3[37][dfs3[37]['%.1'].notnull()], dfs3[38]], ignore_index = True)
SD = pd.concat([dfs1[79], dfs1[80]], ignore_index = True)
TN = pd.concat([dfs1[81], dfs1[82], dfs2[72]], ignore_index = True)
TX = pd.concat([dfs1[83], dfs1[84], dfs1[85], dfs2[73], dfs2[74], dfs2[75], dfs3[39]], ignore_index = True)
UT = pd.concat([dfs1[86], dfs1[87], dfs1[88], dfs2[76], dfs2[77], dfs2[78], dfs2[79], dfs3[40]], ignore_index = True)
VT = pd.concat([dfs1[89], dfs2[80]], ignore_index = True)
VA = pd.concat([dfs1[90], dfs1[91], dfs1[92], dfs1[93], dfs2[81], dfs2[82], dfs2[83], dfs3[41], dfs3[42]], ignore_index = True)
WA = pd.concat([dfs1[94], dfs1[95], dfs2[84], dfs3[43]], ignore_index = True)
WV = pd.concat([dfs1[96], dfs1[97], dfs2[85], dfs2[86], dfs3[44]], ignore_index = True)
WI = pd.concat([dfs1[98], dfs1[99], dfs1[100], dfs2[87], dfs2[88], dfs2[89], dfs3[45]], ignore_index = True)
WY = pd.concat([dfs1[101], dfs3[46]], ignore_index = True)

In [136]:
# aggregate the dataframes into a list of dataframes in state order
# remove states without polls, i.e. DC, HI
dfs = [AL, AK, AZ, AR, CA, CO, CT, DE, FL, GA, ID, IL, IN, IA, KS, KY, LA, ME, MD, MA, MI, MN, MS, MO, MT, NE, NV, NH, NJ, NM, NY, NC, ND, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VT, VA, WA, WV, WI, WY]

In [137]:
# find the state abbreviations
state_res = requests.get('https://www.ssa.gov/international/coc-docs/states.html')
state_soup = BeautifulSoup(state_res.content, 'lxml')
state_html = state_soup.find(text = 'Two-Letter State Abbreviations').find_next('table')
state = pd.DataFrame(pd.read_html(str(state_html))[0])
state.drop(state[state[0].isin(['AMERICAN SAMOA', 'GUAM', 'NORTHERN MARIANA IS', 'PUERTO RICO', 'VIRGIN ISLANDS'])].index, inplace = True)
state = state.reset_index(drop = True)[1]
state

0     AL
1     AK
2     AZ
3     AR
4     CA
5     CO
6     CT
7     DE
8     DC
9     FL
10    GA
11    HI
12    ID
13    IL
14    IN
15    IA
16    KS
17    KY
18    LA
19    ME
20    MD
21    MA
22    MI
23    MN
24    MS
25    MO
26    MT
27    NE
28    NV
29    NH
30    NJ
31    NM
32    NY
33    NC
34    ND
35    OH
36    OK
37    OR
38    PA
39    RI
40    SC
41    SD
42    TN
43    TX
44    UT
45    VT
46    VA
47    WA
48    WV
49    WI
50    WY
Name: 1, dtype: object

In [138]:
# remove the states with no polls, i.e. DC, HI
state_without_polls = state
state_without_polls.drop(state_without_polls[state_without_polls.isin(['DC', 'HI'])].index, inplace = True)
state_without_polls = state_without_polls.reset_index(drop = True)
state_without_polls

0     AL
1     AK
2     AZ
3     AR
4     CA
5     CO
6     CT
7     DE
8     FL
9     GA
10    ID
11    IL
12    IN
13    IA
14    KS
15    KY
16    LA
17    ME
18    MD
19    MA
20    MI
21    MN
22    MS
23    MO
24    MT
25    NE
26    NV
27    NH
28    NJ
29    NM
30    NY
31    NC
32    ND
33    OH
34    OK
35    OR
36    PA
37    RI
38    SC
39    SD
40    TN
41    TX
42    UT
43    VT
44    VA
45    WA
46    WV
47    WI
48    WY
Name: 1, dtype: object

In [139]:
# fix florida
for i in range(len(FL)):
    if pd.isna(FL['%'][i]):
        FL.loc[i, '%'] = FL.loc[i, 'Hillary Clinton']
    if pd.isna(FL['%.1'][i]):
        FL.loc[i, '%.1'] = FL.loc[i, 'Donald Trump']
FL['Democrat'] = FL['Democrat'].fillna('Hillary Clinton')
FL['Republican'] = FL['Republican'].fillna('Donald Trump')
FL = FL[(FL['Democrat'] == 'Hillary Clinton') & (FL['Republican'] == 'Donald Trump')]
dfs[8] = FL
dfs[8]

,Poll source,Date administered,Hillary Clinton,Donald Trump,Lead margin,Sample size,Margin of error,Gary Johnson,Jill Stein,Democrat,%,Republican,%.1,Independent/ Third-party candidate,%.2
0,Quinnipiac University[1],"November 3–6, 2016",46%,46%,Tied,884,± 3.3%,NaN,NaN,Hillary Clinton,46%,Donald Trump,46%,NaN,NaN
1,CNN/ORC[2],"October 27 – November 1, 2016",50%,49%,1,773,± 3.5%,NaN,NaN,Hillary Clinton,50%,Donald Trump,49%,NaN,NaN
2,Quinnipiac University[3],"October 27 – November 1, 2016",47%,45%,2,626,± 3.9%,NaN,NaN,Hillary Clinton,47%,Donald Trump,45%,NaN,NaN
3,Gravis Marketing/One America News Network[4],"October 31, 2016",51%,49%,2,1995,± 2.2%,NaN,NaN,Hillary Clinton,51%,Donald Trump,49%,NaN,NaN
4,New York Times Upshot/Siena College[5],"October 25–27, 2016",45%,48%,3,814,± 3.4%,NaN,NaN,Hillary Clinton,45%,Donald Trump,48%,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Public Policy Polling[80],"June 2–5, 2016",40%,41%,1,737,± 3.6%,4%,2%,Hillary Clinton,40%,Donald Trump,41%,NaN,NaN
141,Public Policy Polling[80],"June 2–5, 2016",40%,40%,Tied,737,± 3.6%,5%,1%,Hillary Clinton,40%,Donald Trump,40%,NaN,NaN
151,Quinnipiac University[81],"September 25 – October 5, 2015",NaN,NaN,5,1173,2.9%,NaN,NaN,Hillary Clinton,46%,Donald Trump,41%,NaN,NaN
164,Public Policy Polling[82],"September 11–13, 2015",NaN,NaN,6,814,3.4%,NaN,NaN,Hillary Clinton,42%,Donald Trump,48%,NaN,NaN
173,Quinnipiac University[83],"August 7–18, 2015",NaN,NaN,2,1093,± 3%,NaN,NaN,Hillary Clinton,41%,Donald Trump,43%,NaN,NaN

In [140]:
# filter the dataframe to only include the state, month, year, democratic percentage, republican percentage, party winner, margin
polls_all = pd.DataFrame()
for i in range(len(dfs)):
    dfs[i] = dfs[i][(dfs[i]['Democrat'] == 'Hillary Clinton') & (dfs[i]['Republican'] == 'Donald Trump')].reset_index(drop = True)
    dfs[i]['state'] = [state_without_polls[i]] * len(dfs[i])
    month = []
    year = []
    for j in dfs[i]['Date administered']:
        if '–' in j:
            if j.split('–')[1][0] == ' ':
                month.append(j.split('–')[1][1:4])
            if j.split('–')[1][0] != ' ':
                month.append(j.split('–')[0][0:3])
        if '–' not in j:
            month.append(j.split(' ')[0][0:3])
        year.append(int(j.split(' ')[-1].split('[')[0]))
    dfs[i]['month'] = month
    dfs[i]['year'] = year
    dem_percentage = []
    for j in dfs[i]['%']:
        dem_percentage.append(float(str(j).split('%')[0]))
    dfs[i]['dem_percentage'] = dem_percentage
    gop_percentage = []
    for j in dfs[i]['%.1']:
        gop_percentage.append(float(str(j).split('%')[0]))
    dfs[i]['gop_percentage'] = gop_percentage
    winner = []
    margin = []
    for j in range(len(dfs[i])):
        if dfs[i]['dem_percentage'][j] > dfs[i]['gop_percentage'][j]:
            winner.append('D')
        if dfs[i]['dem_percentage'][j] < dfs[i]['gop_percentage'][j]:
            winner.append('R')
        if dfs[i]['dem_percentage'][j] == dfs[i]['gop_percentage'][j]:
            winner.append('E')
        margin.append(abs(dfs[i]['dem_percentage'][j] - dfs[i]['gop_percentage'][j]))
    dfs[i]['winner'] = winner
    dfs[i]['margin'] = margin
    polls_all = pd.concat([polls_all, dfs[i]], ignore_index = True)

In [141]:
polls_dr = polls_all[['state', 'month', 'year', 'dem_percentage', 'gop_percentage', 'winner', 'margin']]
polls_dr

     state month    year  dem_percentage  gop_percentage winner  margin
0       AL   Sep  2016.0            32.0            48.0      R    16.0
1       AL   Jul  2016.0            33.0            57.0      R    24.0
2       AK   Oct  2016.0            42.0            46.0      R     4.0
3       AK   Oct  2016.0            47.0            43.0      D     4.0
4       AK   Oct  2016.0            36.0            37.0      R     1.0
...    ...   ...     ...             ...             ...    ...     ...
1234    WI   Nov  2015.0            48.0            38.0      D    10.0
1235    WI   Sep  2015.0            50.0            36.0      D    14.0
1236    WI   Aug  2015.0            51.0            35.0      D    16.0
1237    WY   Oct  2016.0            20.0            58.0      R    38.0
1238    WY   Sep  2016.0            19.0            54.0      R    35.0

[1239 rows x 7 columns]

In [142]:
# create classification where for each state there exist a flip in polls, that state is classified as 'tossup'
classification = []
for i in state:
    if polls_dr[polls_dr['state'] == str(i)]['winner'].nunique() == 1:
        classification.append(list(polls_dr[polls_dr['state'] == i]['winner'])[0])
    else:
        classification.append('tossup')
polls = pd.DataFrame({'state': state, 'classification': classification})
polls

   state classification
0     AL              R
1     AK         tossup
2     AZ         tossup
3     AR              R
4     CA              D
5     CO         tossup
6     CT              D
7     DE              D
9     FL         tossup
10    GA         tossup
12    ID              R
13    IL              D
14    IN              R
15    IA         tossup
16    KS         tossup
17    KY         tossup
18    LA              R
19    ME         tossup
20    MD              D
21    MA              D
22    MI         tossup
23    MN         tossup
24    MS         tossup
25    MO         tossup
26    MT              R
27    NE              R
28    NV         tossup
29    NH         tossup
30    NJ              D
31    NM              D
32    NY              D
33    NC         tossup
34    ND              R
35    OH         tossup
36    OK              R
37    OR         tossup
38    PA         tossup
39    RI              D
40    SC         tossup
41    SD              R
42    TN              R
43    TX         tossup
44    UT         tossup
45    VT              D
46    VA         tossup
47    WA              D
48    WV              R
49    WI              D
50    WY              R

In [143]:
# count the number of tossups
(polls['classification'] == 'tossup').sum()

23

In [144]:
# save to csv
polls.to_csv('../../data/processed/2016_polls_classification.csv', index = False)

In [145]:
# filter the dataframe to only include nov 2019 to nov 2020
polls_oneyear = polls_dr[(polls_dr['year'] == 2016) | ((polls_dr['year'] == 2015) & polls_dr['month'].isin(['Nov', 'Dec']))].reset_index(drop = True)
polls_oneyear

     state month    year  dem_percentage  gop_percentage winner  margin
0       AL   Sep  2016.0            32.0            48.0      R    16.0
1       AL   Jul  2016.0            33.0            57.0      R    24.0
2       AK   Oct  2016.0            42.0            46.0      R     4.0
3       AK   Oct  2016.0            47.0            43.0      D     4.0
4       AK   Oct  2016.0            36.0            37.0      R     1.0
...    ...   ...     ...             ...             ...    ...     ...
1188    WI   Jul  2016.0            43.0            37.0      D     6.0
1189    WI   Jun  2016.0            41.0            36.0      D     5.0
1190    WI   Nov  2015.0            48.0            38.0      D    10.0
1191    WY   Oct  2016.0            20.0            58.0      R    38.0
1192    WY   Sep  2016.0            19.0            54.0      R    35.0

[1193 rows x 7 columns]

In [146]:
# negative represents democratic, positive represents republican
party_margin = []
for i in range(len(polls_oneyear)):
    if polls_oneyear['winner'][i] == 'D':
        party_margin.append(-polls_oneyear['margin'][i])
    if any(polls_oneyear['winner'][i] in x for x in ['E', 'R']):
        party_margin.append(polls_oneyear['margin'][i])
polls_party_margin = polls_oneyear
polls_party_margin['2016_polls_margin'] = party_margin
polls_party_margin

,state,month,year,dem_percentage,gop_percentage,winner,margin,2016_polls_margin
0,AL,Sep,2016.0,32.0,48.0,R,16.0,16.0
1,AL,Jul,2016.0,33.0,57.0,R,24.0,24.0
2,AK,Oct,2016.0,42.0,46.0,R,4.0,4.0
3,AK,Oct,2016.0,47.0,43.0,D,4.0,-4.0
4,AK,Oct,2016.0,36.0,37.0,R,1.0,1.0
...,...,...,...,...,...,...,...,...
1188,WI,Jul,2016.0,43.0,37.0,D,6.0,-6.0
1189,WI,Jun,2016.0,41.0,36.0,D,5.0,-5.0
1190,WI,Nov,2015.0,48.0,38.0,D,10.0,-10.0
1191,WY,Oct,2016.0,20.0,58.0,R,38.0,38.0
1192,WY,Sep,2016.0,19.0,54.0,R,35.0,35.0

In [147]:
# find the unweighted mean
polls_mean = polls_party_margin.groupby('state', sort = False)[['2016_polls_margin']].mean().reset_index(drop = False)
polls_mean

   state  2016_polls_margin
0     AL          20.000000
1     AK           4.133333
2     AZ           1.926829
3     AR          21.200000
4     CA         -23.093750
5     CO          -4.829268
6     CT          -8.750000
7     DE         -15.500000
8     FL          -2.258310
9     GA           2.846154
10    ID          19.500000
11    IL         -15.352941
12    IN           8.714286
13    IA          -0.230769
14    KS          10.100000
15    KY          15.200000
16    LA          14.000000
17    ME          -6.588235
18    MD         -33.666667
19    MA         -27.272727
20    MI          -7.306452
21    MN          -7.000000
22    MO           7.821429
23    MT          15.800000
24    NE          27.000000
25    NV          -0.404000
26    NH          -5.261538
27    NJ         -11.533333
28    NM          -6.555556
29    NY         -20.269231
30    NC          -1.688172
31    ND          11.000000
32    OH          -0.432099
33    OK          22.250000
34    OR          -9.090909
35    PA          -5.554348
36    RI         -11.500000
37    SC           6.545455
38    SD          10.666667
39    TN          11.333333
40    TX           6.900000
41    UT           7.888889
42    VT         -23.333333
43    VA          -7.238095
44    WA         -14.333333
45    WV          26.000000
46    WI          -7.292683
47    WY          36.500000

In [148]:
# export the dataframe to a csv file
polls_mean.to_csv('../../data/processed/2016_mean_polls.csv', index = False)